/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #faf9f6;
  color: #1d2d29;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

/* You can add other global styles here */
